PRIVATE_KEY=0x0
TREASURY=0x0
KEEPER=0x0

### Scroll testnet ###
SCROLL_TESTNET_RPC_URL=https://sepolia-rpc.scroll.io/
SCROLL_RPC_URL=https://rpc.scroll.io

### Scroll testnet ###
SCROLL_TESTNET_RPC_URL=https://sepolia-rpc.scroll.io/

## Vault
SCROLL_TESTNET_AAVE_USDC_VAULT=0xe22C0E020C99e9aEd339618FdCEa2871d678Ef38